<h1><%= @album.name %></h1>
<h3><%= @album.genre %></h3>

<% if @album.artists.any? %>
  <h4>Artist List</h4>
  <form>
    <ul>
      <% @album.artists.each do |artist| %>
        <li><%= link_to artist.name, artist_path(artist) %> -- <button type="submit" name="artist_to_remove" value="<%= artist.id %>">Remove</button></li>
      <% end %>
    </ul>
  </form>
<% else %>
  <p>No artists listed yet for this album.</p>
<% end %>

<form>
  <label for="artist_to_add">Add artist</label>
  <select name="artist_to_add">
    <% @artists.each do |artist| %>
      <option value="<%= artist.id %>"><%= artist.name %></option>
    <% end %>
  </select>
  <button type="submit">Add</button>
</form>

<% if @album.songs.any? %>
  <h4>Track List</h4>

  <ul>
    <% @album.songs.each do |song| %>
      <li><%= link_to song.name, album_song_path(@album, song) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No songs listed yet for this album.</p>
<% end %>

<p><%= link_to "Add a song", new_album_song_path(@album) %></p>

<p><%= link_to "Edit", edit_album_path(@album) %></p>
<p><%= link_to "Delete", album_path(@album),
  :data => {:confirm => "You sure?",
  :method => "delete"} %></p>

<p><%= link_to "Return to albums", albums_path %></p>